/****** General ***********/
* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #9356DC;
  --second-color: #FF79DA;
  --third-color: #99E2D0;
  --dark-grey: #353535;
  --light-grey: #7E7E7E;
}

body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}

.menu__title{
  font-family: 'Shrikhand', sans-serif;
  font-size: 1rem;
}
/*************** Index ********************/
.navbar{
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  filter: drop-shadow(0 2px 4px rgb(0, 0, 0, 15%));
}
.navbar__logo{
  width: 100%;
}
.navbar__logo img{
  margin: auto;
  display: block;
  padding: 1.25rem 0 0.75rem;
}
.location{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 3rem;
  color: var(--dark-grey);
  background-color: #EAEAEA;
  filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 25%));
  -webkit-filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 25%));
  }
.location p{
  font-size: 16px;
  font-weight: 500;
}
.main__container{
  background-color: #F6F6F6;
}
.heading{
  padding: 2.8rem 1.25rem 3.1rem;
  text-align: center;
}
.heading h1{
  padding: 0 2.5rem 0.75rem;
}
.heading p{
  font-size: 18px;
  font-weight: 300;
  color: var(--dark-grey);
  margin-bottom: 2.8rem;
}
.btn{
  padding: 18px 40px;
  background: linear-gradient(167deg,rgba(255,121,218), rgba(147,86,220));
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-weight: 500;
  color: white;
  filter: drop-shadow(0 4px 10px rgb(0, 0, 0, 25%));
  -webkit-filter: drop-shadow(0 4px 10px rgb(0, 0, 0, 25%));
}
.intro{
  background-color: white;
}
.intro,
.restaurant{
  padding: 3.12rem 1.25rem; 
}
.intro h2{
  margin-bottom: 20px;
}
.intro__list{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1.8rem;
  background-color: #F6F6F6;
  filter: drop-shadow(0 4px 15px rgb(0, 0, 0, 15%));
  -webkit-filter: drop-shadow(0 4px 15px rgb(0, 0, 0, 15%));
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 20px;
}
.intro__list--number{
  background-color: var(--main-color);
  color: white;
  font-size: 14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 3px 8px;
  position: absolute;
  left: -12px;
}
.intro__list .fa-solid{
  color: var(--light-grey);
  font-size: 18px;

}
.intro__list .fa-solid.fa-store{
  color: var(--main-color);
}
.intro__list p{
  font-weight: 500;
}
.restaurant__card{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.restaurant__link {
  background-color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  filter: drop-shadow(0 4px 15px rgb(0, 0, 0, 10%));
  -webkit-filter: drop-shadow(0 4px 15px rgb(0, 0, 0, 10%));
}
.restaurant__badge{
  background-color: var(--third-color);
  color: #008766;
  filter: drop-shadow(0 2px 4px rgb(0, 0, 0, 15%));
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 8px 12px;
  position: absolute;
  right: 10px;
  top: 15px;
}
.restaurant__link img{
  width: 100%;
  height: 170px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
}
.restaurant__content{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.restaurant__content .fa-regular {
  font-size: 21px;
  color: black;
}
.restaurant__name{
  font-size: 18px;
  color: black;
  font-weight: 700;
}
.restaurant__city{
  font-size: 17px;
  color: black;
  font-weight: 300;
}
.foot{
  background-color: var(--dark-grey);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.foot__row {
  flex: 1; 
}
.foot__row:last-child {
  order: -1; 
}
.foot__row li{
  display: flex;
  margin-bottom: 12px;
  gap: 10px;
  align-items: center;
}
.foot__row .fa-solid{
  font-size: 13px;
}
.foot__list .fa-solid.fa-utensils{
  padding-right: 5px;
}
.foot__row a{
  color: white;
}
.foot__logo{
  margin-top: 10px;
  margin-bottom: 20px;
  filter: contrast(0%) brightness(200%);
}
.foot__logo img{
  width: 30%;
}
/*************** Menu ******************/
.navbar__back{
  font-size: 20px;
  color: black;
  padding-left: 20px;
}
.banner img{
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.container{
  background-color: #F6F6F6;
}
.menu{
  background-color: #F6F6F6;
  padding: 40px 15px 0;
  position: relative;
  top: -50px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.menu__title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title i{
  font-size: 21px;
  padding-right: 15px;
}
.menu__content{
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__subtitle h2{
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
.menu__subtitle hr{
  width: 40px;
  border: 1px solid var(--third-color);
  margin-top: 3px;
}
.menu__description{
  display: flex;
  justify-content: space-between;
  background-color: white;
  filter: drop-shadow(0 4px 15px rgb(0, 0, 0, 10%));
  -webkit-filter: drop-shadow(0 4px 15px rgb(0, 0, 0, 10%));
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 15px 15px 10px;
}
.menu__text{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu__course{
  font-size: 18px;
  font-weight: 500;
}
.menu__side{
  font-size: 15px;
  font-weight: 300;
}
.menu__price{
  display: flex;
  align-items: end;
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}
.cta{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {

/*************** Index ********************/
.intro,
.restaurant{
  padding: 3.12rem 2rem; 
}
.restaurant__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
.restaurant__card{
  width: 45%;
}

}

/* Big devices (desktop, more/equal than 1024px) */
@media (min-width: 1024px) {

/*************** Index ********************/
.heading h1 {
  font-size: 40px;
}
.intro,
.restaurant{
  padding: 3.12rem 11.25rem; 
}
.intro__content{
  display: flex;
  gap: 35px;
}
.intro__list {
  width: 40%;
}
.foot {
  flex-direction: row;
  justify-content: end;
  gap: 50px;
  align-items: center;
  padding: 50px 0 20px;
}
.foot__row {
  flex: none;
}
.foot__row ul{
  display: flex;
  gap: 12px;
}
.foot__row:last-child {
  order: 1; 
}
.foot__logo img {
  width: 60%;
}

/*************** Menu ********************/


}